---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a
  href={href}
  class="text-muted-foreground underline decoration-border underline-offset-2 hover:text-foreground hover:decoration-border/50 transition-colors"
>
  <slot />
</a>
