---
import MainLayout from '../layouts/main-layout.astro';
import ProfileInfo from '../components/home/profile-info.astro';
import Quote from '../components/home/quote.astro';
import GetInTouch from '../components/home/get-in-touch.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<MainLayout title={SITE_TITLE} description={SITE_DESCRIPTION} url="/" ogImage="/og-image.png">
  <p class="text-muted-foreground mb-4 md:mb-6 fade-in fade-in-delay-1">Frontend Developer</p>

  <p class="text-foreground leading-relaxed font-medium mb-6 md:mb-8 fade-in fade-in-delay-2">
    You think I've got great attention to detail? No,&nbsp;I've&nbsp;<span class="italic"
      >self&#x2060;-&#x2060;diagnosed</span
    >&nbsp;OCD.
  </p>

  <div class="fade-in fade-in-delay-3">
    <ProfileInfo />
  </div>

  <div class="fade-in fade-in-delay-4">
    <Quote />
  </div>

  <!-- <div class="space-y-4">
        <h3 class="text-xl font-medium">Featured Projects</h3>
        <div class="grid gap-4">
          <article
            class="p-4 rounded-lg border border-primary/20 hover:border-primary/40 transition-colors"
          >
            <h4 class="font-medium">Project One</h4>
            <p class="opacity-75">A brief description of your first featured project.</p>
          </article>
          <article
            class="p-4 rounded-lg border border-primary/20 hover:border-primary/40 transition-colors"
          >
            <h4 class="font-medium">Project Two</h4>
            <p class="opacity-75">A brief description of your second featured project.</p>
          </article>
        </div>
      </div> -->

  <div class="mt-8 md:mt-12 fade-in fade-in-delay-5">
    <GetInTouch />
  </div>
</MainLayout>
