---
import MainLayout from '../layouts/main-layout.astro';
import ProfileInfo from '../components/home/profile-info.astro';
import Quote from '../components/home/quote.astro';
import GetInTouch from '../components/home/get-in-touch.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<MainLayout title={SITE_TITLE} description={SITE_DESCRIPTION} url="/" ogImage="/og-image.png">
  <p class="text-muted-foreground mb-4 md:mb-6">Frontend Developer</p>

  <p class="text-foreground leading-relaxed font-medium mb-6 md:mb-8">
    You think I've got great attention to detail? No,&nbsp;I've&nbsp;<span class="italic"
      >self&#x2060;-&#x2060;diagnosed</span
    >&nbsp;OCD.
  </p>

  <ProfileInfo />

  <Quote />

  <div class="mt-8 md:mt-12">
    <GetInTouch />
  </div>
</MainLayout>
