---

---

<section>
  <h3 class="text-xl font-medium mb-4">Get in Touch</h3>
  <div class="flex gap-4">
    <a
      href="https://github.com/satejbidvai"
      class="opacity-75 hover:opacity-100 transition-opacity"
      target="_blank"
      rel="noopener noreferrer">GitHub</a
    >

    <a
      href="https://x.com/satejbidvai"
      class="opacity-75 hover:opacity-100 transition-opacity"
      target="_blank"
      rel="noopener noreferrer">X</a
    >

    <a
      href="https://www.linkedin.com/in/satej-bidvai/"
      class="opacity-75 hover:opacity-100 transition-opacity"
      target="_blank"
      rel="noopener noreferrer">LinkedIn</a
    >

    <a
      href="mailto:satej.bidvai+portfolio@gmail.com"
      class="opacity-75 hover:opacity-100 transition-opacity"
      target="_blank"
      rel="noopener noreferrer">Email</a
    >
  </div>
</section>
