---
import Link from './ui/Link.astro';
---

<div class="flex gap-3 md:gap-4">
  <Link href="https://github.com/satejbidvai" target="_blank" rel="noopener noreferrer">GitHub</Link>
  <Link href="https://x.com/satejbidvai" target="_blank" rel="noopener noreferrer">X</Link>
  <Link href="https://www.linkedin.com/in/satej-bidvai/" target="_blank" rel="noopener noreferrer">LinkedIn</Link>
  <Link href="mailto:satej.bidvai+portfolio@gmail.com" target="_blank" rel="noopener noreferrer">Email</Link>
</div>
